* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    justify-content: center;
    display: flex;
    margin-top: 80px;
}

h3 {
    margin-top: 100px;
    margin-bottom: 30px;
}

hr {
    border: 0;
    border-top: 1px solid #CFCFCF;
    width: 205px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

body,
textarea {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #DB6300;
}

div {
    justify-content: center;
    display: grid;
    justify-items: center;
}

.input-container {
    display: flex;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid #CFCFCF
}

input:focus {
    outline: none;
    border: 1px solid #FF6600;
    box-sizing: border-box;
}

button {
    color: #FFF;
    border: none;
    font-weight: bold;
    font-size: 12px;
    background: linear-gradient(180deg, #EF6C00 0%, #C0661C 100%);
    border-radius: 4px;
    padding: 12px 20px;
    margin: 8px 11px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
}

#new-game-btn {
    background: linear-gradient(180deg, #434854 0%, #9E9E9E 100%);
    width: 130px;
    white-space: nowrap;
    margin-top: 56px;
    margin-bottom: 73px;
    visibility: hidden;
}

button:disabled,
button[disabled] {
    color: #FFF;
    background: #DDDDDD;
    cursor: default;
}

input:disabled {
    background-color: #DDDDDD;
    border: 1px solid #CFCFCF;
    color: #9E9E9E;
}